@page "/form"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-layout-grid-align-center">
            <h3 align="center">Basic Validation</h3>
        </div>
        <MatTest.Pages.Form.Form1 />

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-layout-grid-align-center">
            <h3 align="center">Nested And Custom Validation</h3>
        </div>
        <MatTest.Pages.Form.Form2 />

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-layout-grid-align-center">
            <h3 align="center">Fluented Validation</h3>
        </div>
        <MatTest.Pages.Form.Form3 />
    </div>
</div>

@code {

}