@page "/loading"
<div class="loading">
    <div class="loader">
        <div class="dot-loader"></div>
        <div class="dot-loader dot-loader--2"></div>
        <div class="dot-loader dot-loader--3"></div>
    </div>
</div>